<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  <style>
  .card-header{
    background-color:#808080;
    }
  </style>
  <style>
    .card-header1{
      background-color:#D3D3D3;
    }
  </style>
  </head>
  <body>
  <div class="container bg-grey">
  
    <div class="row mb-4">
      <div class="col-1">
      </div>
      <div class="col-10">
        <div class="card">
          <div class="card-header1">  
            <h4 style='font-size: 16px'>Dumpster</h4>
            </div>
            <%= form_tag(search1_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
                    <div class="input-group"><%= search_field_tag :search1, params[:search1], placeholder: "Dumpster Search",class: "form-control" %>  
                      <div class="input-group-btn"> 
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-color:#009330">Search Dumpster</button>
                      </div>  
                     </div>  
                  <% end %>
            <div class="card-body">
              <% @posts.each do |post|%>
                <% if post.ds == true %>
                  <div class="card float-left " style="width: 14%; min-height: 140px; margin-bottom: 5px" >
                    
                    <div class="card-body float-left" style="height:auto; ">
                      <i style='font-size:28px;' class='fas' >&#xf2fe;</i>
                      <h5 class="card-text" style='font-size: 10px'><%= link_to User.find(post.user_id).name+User.find(post.user_id).lastname, "http://localhost:3000/users/#{post.user_id}", class:"text-dark"%></h5>
                    </div>
                  </div>

                  <div class="card float-left " style="width: 86%;  min-height: 125px; margin-bottom: 10px"  >
                      
                    <div class="card-body float-left" style="height:auto; min-height: 125px; margin-bottom: 5px">
                      <h5 class="card-text" style='font-size: 30px'>
                        <%= link_to post.title , post_path(post), class:"text-dark"%></h5>
                        <%= form_with(model: post, local: true, html: { method: :put }) do |f| %>
                        <%= f.check_box :ds , style:"margin-left: 9px"%><span style="color:#C0C0C0">*Uncheck the box to restore the user</span></br>
                      <%= f.submit "Restore" , style:"margin-left: 9px"%>
                      <%end%>
                      

                    </div>
                  </div>
                <%end%>
              <%end%>
            </div>

          

          
        </div>
      </div>
      <div class="col-1"> 
      </div>
    </div>

    <div class="row">
      <div class="col-1">
      </div>

    </div>

  </div>
</body>
</html>



