<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <style>
      .btn-secondary{
        background-color:#F5F5F5;
        color:#000;
      }
    </style>
  </head>

  <body>
      <% if flash[:error] %>
        <div class="Alert-bottom alert alert-danger fade in" role="alert"><a class="close" data-dismiss="alert" aria-label="close">x</a> <%= flash[:error] %></div>
      <% elsif flash[:notice] %>
        <div class="Alert-bottom alert alert-success fade in" role="alert"><a class="close" data-dismiss="alert" aria-label="close">x</a><%= flash[:notice] %></div>
      <%end%>



      <div class="row justify-content-center">
        <div class="col-12 mb-3">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">

              </button>
              <a class="navbar-brand" href="http://localhost:3000/home/index">Oscar</a>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">


                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">

                  <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
                    <div class="input-group"><%= search_field_tag :search, params[:search], placeholder: "Search",class: "form-control" %>  
                      <div class="input-group-btn"> 
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-color:#009330">Search</button>
                      </div>  
                     </div>  
                  <% end %>
                  <% if current_user%>
                    <li class="nav-item active">
                    <p class="card-text" style="padding: 15px"><%=current_user.name%></p>
                    </li>
                    <li class="nav-item">
                    <p class="nav-link " style="padding-top: 15px"><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
                    </li>
                    
                  <%else%>
                    <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:3000/users/sign_in" style="padding: 15px">Log in<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href='http://localhost:3000/users/sign_up'>Sign up</a>
                    </li>
                    
                    <li class="nav-item">
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
                    </li>

                  <%end%>
                </ul>
              </div>
            </nav>
        </div>
      </div>



                 
      <div class="row mb-3">
        <%if current_user==nil%>

          <div class="col-3">
          </div>  
          <div class="col-6">
              
          </div>
          <div class="col-3">
          </div>
        <%else%>
          <div class="col-3">
          </div>  
          <div class="col-6">
            <div class="btn-group btn-block" role="group" aria-label="Basic example">
              <%if current_user.set == nil%>
                <a style='width:33.3%; color: #000;' class="btn btn-secondary" href='http://localhost:3000/home/index'>Home</a>
                <a style='width:33.3%; color: #000;' class="btn btn-secondary" href='http://localhost:3000/posts'>My Posts</a>
                <p style='width:33.3%; color: #000;' class="btn btn-secondary" ><%= link_to 'Profile', edit_user_registration_path(current_user) %></p>
              <%elsif current_user.set == 1%>
                <a style='width:16.6%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/home/index'>Home</a>
                <a style='width:16.6%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/posts'>My Posts</a>
                <a style='width:16.6%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/blacklist/index'>Blacklist</a>
                <a style='width:16.6%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/dumpster/index'>Dumpster</a>
                <a style='width:16.6%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/utotal/index'>Users</a>
                <p style='width:16.6%; color: #000;' class="btn btn-secondary" ><%= link_to 'Profile', edit_user_path(current_user) %></p>
              <%elsif current_user.set == 2%>
                <a style='width:14.285%; color: #000;' class="btn btn-secondary" href='http://localhost:3000/home/index'>Home</a>
                <a style='width:14.285%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/posts'>Posts</a>
                <a style='width:14.285%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/blakclist/index'>Blacklist</a>
                <a style='width:14.285%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/dumpster/index'>Dumpster</a>
                <a style='width:14.285%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/utotal/index'>Users</a>
                <a style='width:14.285%; color: #000;'  class="btn btn-secondary" href='http://localhost:3000/atotal/index'>Admins</a>
                <p style='width:14.285%; color: #000;'  class="btn btn-secondary" ><%= link_to 'Profile', edit_user_path(current_user) %></p>
              <%end%>



            </div>
          </div>
          <div class="col-3">
          
          </div>
        <%end%>
      </div>
                
                

      

    
    <%= yield %>
  </body>
</html>
