<body>
	<style>
		.body{
			width: 100%;
			height: 100%;
		}
	</style>
	
	<div class="body ">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



		<%= form_with(model: @user, local: true) do |form| %>

		<style>
			.my-container{
				border: 1px solid green;
			}
		</style>
		<div class="container my-container rounded bg-white">
			<div class="row justify-content-center">
				<div class="col-7 offset-4 	mb-4">
					<h1>Oscar</h1>
				</div>

				<div class="col-1">
					<h1><%= link_to 'X', controller:'home' %></h1>
				</div>
			</div>


			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			<%= form.label 'Name'%>
			  		</div>
			  	</div>

			  	<div class="col-6">
					<div class="input-group" >
						<%= form.text_field :name , class:"form-control"%>
					</div>

				</div>
				<hr />
			</div>

			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			<%= form.label 'Last Name'%>
			  		</div>
			  	</div>

			  	<div class="col-6">
					<div class="input-group" >
						<%= form.text_field :lastname , class:"form-control"%>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			<%= form.label 'Email'%>
			  		</div>
			  	</div>

			  	<div class="col-6">
					<div class="input-group" >
						<%= form.text_field :email , class:"form-control"%>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			<%= form.label 'Password'%>
			  		</div>
			  	</div>

			  	<div class="col-6">
					<div class="input-group" >
						<%= form.password_field :password , class:"form-control"%>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			<%= form.label 'Confirm Password'%>
			  		</div>
			  	</div>

			  	<div class="col-6">
					<div class="input-group" >
						<%= form.password_field :cpassword , class:"form-control"%>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			
			  		</div>
			  	</div>

			  	<div class="col-6">
						<%= form.check_box :status1 %>I Accept <%=link_to 'Terms of Service', 'https://www.termsandcondiitionssample.com/live.php?token=P4UMRQJ88CWjVI2OQTmhUQxZpWHfI7bv'%>

				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  			
			  		</div>
			  	</div>

			  	<div class="col-6">
						<%= form.check_box :status2 %>I Accept <%=link_to 'Use Policy', 'https://www.financegenerator.com/acceptable-use-policy/'%>

				</div>
			</div>


			<div class="row">
				<div class="col-3">
					<div class="mb-4">
			  		</div>
			  	</div>

			  	<div class="col-4">
					<div class="actions">
		    			<%= form.submit 'Create user'%>
		  			</div>

				</div>
			</div>

			



		  
		</div>



		    



		  
		<% end %>
	</div>
</body>
