<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
    <style>
      .btn-secondary{
        background-color:#F5F5F5;
        color:#000;
      }
    </style>
    <style>
    .card-header{
      background-color:#808080;
      }
    </style>
    <style>
      .card-header1{
        background-color:#D3D3D3;
      }
    </style>
  </head>
  <body>
    <div class="container bg-grey">
      <div class="row mb-4">
        <div class="col-1">
        </div>
        <div class="col-10">
        </div>
        <div class="col-1"> 
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1">
        </div>
      
        <div class="col-10">
          <div class="card">
            <div class="card-header1">
              <%if @user.set == nil%>
                <h2> <i style='font-size:32px; padding-left: 3px' class='fas'>&#xf2bd;</i> User</h2>
              <%else%>
                <h2> <i style='font-size:32px; padding-left: 3px' class='fas'>&#xf2bd;</i> Admin</h2>
              <%end%>
            </div>
            <div class="card-body">

              <div class="container my-container rounded bg-white">
                <div class="row justify-content-center">
                  <div class="col-7 offset-4  mb-4">
                  </div>

                  <div class="col-1">
                  </div>
                </div>

                <div class="row">
                  <div class="col-3">
                    <div class="mb-4">
                        <strong>Name: </strong>
                        <% if @user.name == nil %>
                            None
                          <%else%>
                            <%= @user.name%>
                          <%end%>
                      </div>
                    </div>

                    <div class="col-6">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row">
                  <div class="col-3">
                      <div class="mb-4">
                          <strong>Lastname: </strong>
                          <% if @user.lastname == nil %>
                            None
                          <%else%>
                            <%= @user.lastname%>
                          <%end%>
                      </div>
                    </div>

                    <div class="col-6">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row">
                  <div class="col-3">
                      <div class="mb-4">
                          <strong>Geofence: </strong>
                          <% if @user.city == nil || @user.city == "None"%>
                            None
                          <%elsif @user.city == "Santiago" %>
                            <iframe width="400" height="325" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Santiago&key=AIzaSyB8VhfXYPZEjzRyJ0m4iie57wWZvF1VByY" allowfullscreen></iframe> 
                          <%elsif @user.city == "Concepcion" %>
                            <iframe width="400" height="325" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJO8a70s21aZYRmCYhUrc3y0Q&key=AIzaSyB8VhfXYPZEjzRyJ0m4iie57wWZvF1VByY" allowfullscreen></iframe>
                          <%elsif @user.city == "Arica" %>
                            <iframe width="400" height="325" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Arica&key=AIzaSyB8VhfXYPZEjzRyJ0m4iie57wWZvF1VByY" allowfullscreen></iframe>
                          <%elsif @user.city == "Islas Malvinas" %>
                            <iframe width="400" height="325" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJo-ORRLmJKrwROsXZjf-qKjI&key=AIzaSyB8VhfXYPZEjzRyJ0m4iie57wWZvF1VByY" allowfullscreen></iframe> 
                          <%end%>
                      </div>
                    </div>

                    <div class="col-6">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row">
                  <div class="col-3">
                      <div class="mb-4">
                          <strong>Bio: </strong>
                          <% if @user.bio == nil %>
                            None
                          <%else%>
                            <%= @user.bio%>
                          <%end%>
                      </div>
                    </div>

                    <div class="col-6">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row">
                  <div class="col-3">
                      <div class="mb-4">
                          <strong>Email: </strong><%= @user.email%>
                      </div>
                    </div>

                    <div class="col-6">
                    </div>
                    <div class="col-3">
                    </div>
                </div>

                <div class="row">
                  <div class="col-3">
                      <div class="mb-4">
                          <%if @user.set == nil%>
                            <strong>Role: </strong>User
                          <%elsif @user.set == 1%>
                            <strong>Role: </strong>Admin
                          <%elsif @user.set == 2%>
                            <strong>Role: </strong>Admin

                          <%end%>
                      </div>
                    </div>

                    <div class="col-6">
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <%if @user.set== nil%>
                  <%= link_to 'Back', 'http://localhost:3000/alpost/index' %>
                <%else%>
                  <%= link_to 'Back', 'http://localhost:3000/atotal/index' %>
                <%end%>
                

            
          </div>
        </div>
        <div class="col-1"> 
        </div>
      </div>

      <div class="row">
        <div class="col-1">
        </div>

      </div>

    </div>
  </body>
</html>