<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  <style>
  .card-header{
    background-color:#808080;
    }
  </style>
  <style>
    .card-header1{
      background-color:#D3D3D3;
    }
  </style>
  </head>
  <body>
  <div class="container bg-grey">



    <div class="row mb-4">
      <div class="col-1">
      </div>
    
      <div class="col-10">
        <div class="card">
          <div class="card-header1">  
            <h4 style='font-size: 20px'>Blacklist</h4>
            </div>

            <%= form_tag(search2_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
                    <div class="input-group"><%= search_field_tag :search2, params[:search2], placeholder: "Blacklist Search",class: "form-control" %>  
                      <div class="input-group-btn"> 
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-color:#009330">Search Blacklist</button>
                      </div>  
                     </div>  
                  <% end %>
            <div class="card-body">
            <% @users.each do |u| %>
              <% if u.bl == true %>
                <div class="card float-left " style="width: 14%" >
                  <div class="card-body float-left" style="height:auto; min-height: 125px;">
                    <i style='font-size:68px' class='fas' >&#xf2fe;</i>
                  </div>
                </div>
                <div class="card float-left " style="width: 86%" >
                  
                  <div class="cardfloat-left" style="height:auto; min-height: 125px;">
                    <i style='font-size:40px;' class='fas' ></i>
                      <h5 class="card-title" style='font-size: 20px; margin-left: 9px'><%= link_to User.find(u.id).name+ User.find(u.id).lastname , "http://localhost:3000/users/#{u.id}" , class:"text-dark", style:"color:dark"%></h5>
                      <%= form_with(model: u, local: true, html: { method: :put }) do |f| %>
                        <%= f.check_box :bl , style:"margin-left: 9px"%><span style="color:#C0C0C0">*Uncheck the box to restore the user</span></br>
                      <%= f.submit "Restore" , style:"margin-left: 9px"%>
                    <%end%>
                  </div>
                </div>
              <%end%>
            <%end%>


          
        </div>
      </div>
      <div class="col-1"> 
      </div>
    </div>

    <div class="row">
      <div class="col-1">
      </div>

    </div>

  </div>
</body>
</html>


