<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
  <style>
    .my-container{
      border: 1px solid green;
    }
  </style>

  </head>

  <body>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

          <div class="container my-container rounded bg-white">
            <div class="row justify-content-center">
              <div class="col-7 offset-4  mb-4">
                <h1>Profile <%= resource_name.to_s.humanize %></h1>

              </div>

              <div class="col-1">
              </div>
            </div>


            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                    <%= f.label :name%>
                  </div>
                </div>

                <div class="col-6">
                <div class="input-group" >
                  <%= f.text_field :name , class:"form-control"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                    <%= f.label :lastname%>
                  </div>
                </div>

                <div class="col-6">
                <div class="input-group" >
                  <%= f.text_field :lastname , class:"form-control"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                    <%= f.label :email %>
                  </div>
                </div>

                <div class="col-6">
                <div class="input-group" >
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control"%>
                </div>

              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>
            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                  </div>
                </div>

                <div class="col-6">
                <div class="input-group" >
                  <%= f.password_field :password, autocomplete: "new-password" , class:"form-control"%>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                    <%= f.label :password_confirmation %>
                  </div>
                </div>

                <div class="col-6">
                <div class="input-group" >
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"%>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                  </div>
                </div>

                <div class="col-6">
                <div class="input-group" >
                  <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control"%>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="mb-4">
                </div>
              </div>

              <div class="col-4">
                <h4 style="font-size: 12px; color: #C0C0C0" >To make any change you have to confirm your password</h4>
                <div class="actions">
                    <%= f.submit 'Update'%>
                </div>
              </div>
            </div>
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
            <% end %>
          </div>
  </body>
</html>

