<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
  </head>
  <style>

  </style>
  <body>
  	



	<div class="container bg-grey">

		<div class="row mb-4">
			<div class="col-1">
			</div>
			<div class="col-10">
				<div class="card">
					<div class="card-header">
						
					<h2>
			    	<i style='font-size:28px' class='fas'>&#xf1c0;</i> Trending Posts</h2>
			  		</div>
			  	<div class="card-body">
			  		<h2>
			    	<i style='font-size:34px' class='far'>&#xf1c5;</i><%= link_to Post.find(2).title, post_path(2) , class: "text-dark" , style:'color: dark;'  %></h2>
			    	<p class="card-text text-secondary"><%= Post.find(2).description%></p>
			    	<p style='color:#000;font-size:12px;' class="card-text float-left">Unsolved</p>

			    	<i style='font-size:12px' class='fas float-right'>|  &#xf164; <%= Post.find(2).get_upvotes.size%></i><p class="card-text text-secondary float-right"></p>
			    	<i style='font-size:12px' class='fas float-right'>&#xf086; Comments: 2134  </i><p class="card-text text-secondary float-right"></p>
			    	
			    </div>
				</div>
			</div>
			
	  
		</div>

		<div class="row mb-3">
			<div class="col-1">
			</div>
			<div class="col-10">
				<div class="card">
					<div class="card-header">
					<h2>
			    	<i style='font-size:28px' class='fas'>&#xf1c0;</i> Topics</h2>
			  		</div>

			  	<ul class="list-group list-group-flush">
				    <li class="list-group-item">
				    	<div class="card-body">
				    		<h2><i style='font-size:34px' class='far'>&#xf0c5;</i><%= link_to 'Everything','http://localhost:3000/alpost/index' , class: "text-dark"%></h2>
				    		<i style='font-size:12px' class='fas float-right'>  &#xf02c;Posts: 1342</i><p class="card-text text-secondary float-right"></p> 	
				    		 	
			    			    	
			    		</div>
					</li>
				    <li class="list-group-item">
				    	<div class="card-body">
			    			<h2><i style='font-size:34px' class='far'>&#xf0c5;</i><%= link_to 'Universidad de los Andes','http://localhost:3000/alpost/index', class: "text-dark"%></h2>
			    			<i style='font-size:12px' class='fas float-right'>  &#xf02c; Posts: 1031</i><p class="card-text text-secondary float-right"></p> 
			    	
			    		</div>
					</li>
				    <li class="list-group-item">
				    	<div class="card-body">
			    			<h2><i style='font-size:34px' class='far'>&#xf0c5;</i><%= link_to 'Public transportation','http://localhost:3000/alpost/index',class: "text-dark"%></h2>
			    			<i style='font-size:12px' class='fas float-right'>  &#xf02c; Posts: 1124</i><p class="card-text text-secondary float-right"></p> 
			    	
			    		</div>
					</li>
	 			</ul>
			  	
			    

			    
				</div>
			</div>
			
	  
		</div>
	</div>
</body>
</html>


