<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
    <style>
      .btn-secondary{
        background-color:#F5F5F5;
        color:#000;
      }
    </style>
    <style>
    .card-header{
      background-color:#808080;
      }
    </style>
    <style>
      .card-header1{
        background-color:#D3D3D3;
      }
    </style>
  </head>
  <body>
    <div class="container bg-grey">
      <div class="row mb-4">
        <div class="col-1">
        </div>
        <div class="col-10">
        </div>
        <div class="col-1"> 
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-1">
        </div>
      
        <div class="col-10">
          <div class="card">
            <div class="card-header1">  
              <h2> <i style='font-size:32px; padding-left: 3px' class='fas'>&#xf2bd;</i> Admins</h2>
              <h5><i class="float-right"style='font-size:32px; padding-left: 3px' ></i><%= link_to 'New Admin', new_user_path, class:"display btn-outline-dark" %></h5>
            </div>
            <div class="card-body">
            <% User.all.each do |user| %>
              <% if user.set == 1%>
                <div class="card float-left " style="width: 100%" > 
                <div class="card-body float-left" style="height:auto; min-height: 100px;">
                  <i style='font-size:40px;' class='fas' ></i>
                  <% if user.name == nil%>
                  <h4 class="card-title">No name</h4>
                  <%else%>
                   <h4 class="card-title"><%= user.name%></h4>
                  <%end%>
                  <%if user.last_sign_in_at==nil%>
                    <h5>Last sign in : No data</h5>
                  <%else%>
                    <h5>Last sign in : <%= user.last_sign_in_at%></h5>
                  <%end%>
                  <%if user.set==nil%>
                    <h5>Role: User</h5>
                  <%elsif user.set==1%>
                     <h5>Role: Admin</h5>
                  <%elsif user.set==2%>
                     <h5>Role: Super Admin</h5>
                  <%end%>
                  <%= form_with(model: user, local: true) do |f| %>
                    <%= f.label 'Geofence :'%>

                    <%= f.select :city, ["None","Concepcion","Santiago","Arica","Islas Malvinas"]%><%= f.submit 'Update'%></br><span style="color:#C0C0C0">* To remove privileges from admin set geofence to None</span>
                  <%end%>
                  |<%= link_to 'Edit', edit_user_path(user)%>| | <%=link_to 'Delete', user_path(user),method: :delete,
                  data: { confirm: 'Are you sure?' }%>| |<%= link_to 'Show', user%>|
                  
              </div>
            </div>
            <%else%>
            <%end%>
          <%end%>
            
          </div>
        </div>
        <div class="col-1"> 
        </div>
      </div>

      <div class="row">
        <div class="col-1">
        </div>

      </div>

    </div>
  </body>
</html>