<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  <style>
  .card-header{
    background-color:#808080;
    }
  </style>
  <style>
    .card-header1{
      background-color:#D3D3D3;
    }
  </style>
  <style>
        .my-container{
          border: 1px solid green;
        }
      </style>
  </head>

  <body>
  <div class="container bg-grey">
    <%= form_with(model: @post, local: true) do |form| %>

      
      <div class="container my-container rounded bg-white">
        <div class="row justify-content-center">
          <div class="col-7 offset-4  mb-4">
            <h1>Oscar</h1>
          </div>

          <div class="col-1">
            <h1><%= link_to 'X', controller:'posts' %></h1>
          </div>
        </div>


        <div class="row">
          <div class="col-3">
            <div class="mb-4">
                <%= form.label 'Title'%>
              </div>
            </div>

            <div class="col-6">
              <div class="input-group mb-4">
                <%= form.text_field :title , class:"form-control"%>
              </div>

          </div>
          <hr />
        </div>

        <div class="row">
          <div class="col-3">
            <div class="mb-4">
                <%= form.label 'Description'%>
              </div>
            </div>

            <div class="col-6">
              <div class="input-group mb-4" >
                <%= form.text_area :description , class:"form-control"%>
              </div>

          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <div class="mb-4">
                <%= form.label 'City'%>
              </div>
            </div>

            <div class="col-6">
            <div class="input-group" >
              <%= form.select :city, ["None","Concepcion","Santiago","Arica","Islas Malvinas"]%>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="mb-4">
                <%= form.label 'image'%>
              </div>
            </div>

            <div class="col-6">
            <div class="input-group" >
              <%= form.file_field :avatar %>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="mb-4">
                <%= form.label 'PDF File'%>
              </div>
            </div>

            <div class="col-6">
            <div class="input-group" >
              <%= form.file_field :file %>
            </div>

          </div>
        </div>

        

        <div class="row">
          <div class="col-3">
            <div class="mb-4">
                
              </div>
            </div>

            <div class="col-6">
              <%= form.check_box :status %>Comments 

          </div>
        </div>


        <div class="row">
          <div class="col-3">
            <div class="mb-4">
              </div>
            </div>

            <div class="col-4">
              <div class="actions">
                <%= form.submit 'Publish'%>
              </div>

          </div>
        </div>
      </div>
   
    <% end %>
  </div>
</body>
</html>





