<%= form_with model: @post, local: true do |form| %>

 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>

  <p>
    
    <%= form.check_box :status %>  Comments
  </p>
 
  <p>
    <%= form.submit 'Send'%>
  </p>
 
<% end %>