<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  </head>

  <body>
  <div class="container bg-grey">
    <div class="row justify-content-center">
      <div class="col-12 mb-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Oscar</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <% @us.each do |usr|%>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border-color:#009330">Search</button>
                </form> 
                <li class="nav-item active">
                  <p class="card-text" style="max-width: 80%; max-height: 30px; line-height: 20px; padding: 15px"  ><%=usr.name%></p>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href='http://localhost:3000/'>Log out</a>
                </li>
              </ul>
              <%end%>
            </div>
          </nav>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-1">
      </div>
    
      <div class="col-10">
        <div class="btn-group btn-block" role="group" aria-label="Basic example">
          <a style='width:33.3%; color: #000;' class="btn btn-secondary" href='http://localhost:3000/home2/index'>Home</a>
          <a style='width:33.3%; color: #000;' class="btn btn-secondary" href='http://localhost:3000/posts'>My Posts</a>
          <p style='width:33.3%; color: #000;' class="btn btn-secondary" ><%= link_to 'Profile', edit_user_path(current_user) %></p>
        </div>
      </div>
      <div class="col-1">
        
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-1">
      </div>
      <div class="col-10">
        <div class="card">
          <div class="card-header">
            
          <h2>
            <i style='font-size:28px' class='fas'>&#xf1c0;</i> My Posts</h2><a style='width:33.3%; color: #000; border: solid #C0C0C0' class="btn btn-secondary float-right" href='http://localhost:3000/posts/new'>New Post</a>
          </div>
          <% @posts.each do |post| %>
            <div class="card-body">
              <h2>
              <i style='font-size:34px' class='far'>&#xf1c5;</i> <a class="card-title"><%= link_to post.title, post_path(post) %></a></h2>
              <p class="card-text text-secondary " style="max-width: 80%; max-height: 30px;"  ><%=post.description%></p>
              
              <p class="card-text text-secondary float-right ml-4"><%=link_to 'Delete Post', post_path(post),method: :delete,
                  data: { confirm: 'Are you sure?' }%></p>
              <p class="card-text text-secondary float-right "><%=link_to 'Edit Post', edit_post_path(post)%></p>
              <br>
              <hr style="margin-top:10px; margin-bottom: 5px; width: 90%; border-color: #D0D0D0"/>
              
            </div>
          <%end%>
      </div>
    </div>
  </div>
</div>
</body>
</html>
