<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
    
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  <style>
  .card-header{
    background-color:#808080;
    }
  </style>
  <style>
    .card-header1{
      background-color:#D3D3D3;
    }
  </style>
  </head>
  <style>.text_area{
  	width: 100%;
  }
  </style>
  <body>
	<div class="container bg-grey">

		<div class="row mb-4">
			<div class="col-1">
			</div>
		
			<div class="col-10">
				<div class="card">

					<div class="card-header background-color-light">	
						<h3><%=@post.title%></h3><i style='font-size:12px' class='fas float-right fixed mt-0'>&#xf086; Share  </i>Author : <%= link_to User.find(@post.user_id).name , "http://localhost:3000/users/#{@post.user_id}"%></br><p class="card-text text-secondary float-right align-top"></p><%= @post.created_at%>
				  	</div>

				  	<div class="card-body justify-content-center">
				  		<p style="font-size:12px">
				    	<%=@post.description%></p>
				    	<%= image_tag @post.avatar.url(:medium) %>
				    </div>
				   

				    <div class="card-footer">
				    	<%= link_to unlike_post_path(@post), class: "like", method: :put do %>
				    	<i style='font-size:12px' class='fas float-right ml-4'>  &#xf165;<span class="badge"><%=@post.get_downvotes.size%></i><p class="card-text text-secondary float-right"></p>
				    	<%end%>
				    	<%= link_to like_post_path(@post), class: "like", method: :put do %>
				    	<i style='font-size:12px' class='fas float-right'>  &#xf164;<span class="badge"><%=@post.get_upvotes.size%></i><p class="card-text text-secondary float-right"></p>
				    	<%end%>
				    	<i style='font-size:12px' class='fas float-left'>&#xf086; Comments: 10  </i><p class="card-text text-secondary float-left"></p><i style='font-size:12px' class='fas float-left ml-4'> &#xf024; Mark as innapropiate  </i><p class="card-text text-secondary float-left"></p>
				    </div>
				</div>
			</div>
			<div class="col-1">	
			</div>
		</div>

		<div class="row mb-4">
			<div class="col-1">
			</div>
		
			<div class="col-10">
				<div class="card">
					<div class="card-header1">	
						<h4 style='font-size: 16px'>Comment section</h4>
				  	</div>
				  	<% @post.comments.each do |comment| %>

					  	<div class="card-body">
						  	<div class="card float-left " style="width: 14%" >
						  		
							  <div class="card-body float-left" style="height:auto; min-height: 104.9px;">
							  	<i style='font-size:28px;' class='fas' >&#xf2fe;</i>
							    <h5 class="card-title" style='font-size: 10px'><%= link_to User.find(@post.user_id).name , "http://localhost:3000/users/#{@post.user_id}"%></h5>
							    <h5 class="card-title" style='font-size:9px'><%=comment.created_at%></h5>
							  </div>
							</div>

							<div class="card float-left " style="width: 86%;"  >
						  		
							  <div class="card-body float-left" style="height:auto; min-height: 104.9px;">
							    <h5 class="card-text" style='font-size: 10px'><%=comment.body%></h5>
							  </div>
							  
							</div>
							<% if current_user.id == comment.user_id%>
								<p class="float-right">
									  <%= link_to 'Destroy Comment', [comment.post, comment],
									               method: :delete,
									               data: { confirm: 'Are you sure?' } %>

								</p>
							<%end%>
						</div>
					<%end%>

					<% if current_user != nil %>
						<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
						  	<div class="card-body">
							  	<div class="card float-left " style="width: 14%" >
							  		
								  <div class="card-body float-left" style="height:auto; min-height: 104.9px;">
								  	<i style='font-size:28px;' class='fas' >&#xf2fe;</i>
								  	
								    <h5 class="card-title" style='font-size: 10px'><%=current_user.name%></h5>

								    <h5 class="card-title" style='font-size:9px'><%= DateTime.now%></h5>
								  </div>
								</div>

								<div class="card float-left " style="width: 86%;"  >
							  		
									<div class="form-group mt-0 mb-0" style="height: auto; min-height: 104.9px"><p><%= form.text_area :body%></p><p><%= form.submit%></div>
								</div>
							</div>
						<%end%>
					<%end%>

					

					
				</div>
			</div>
			<div class="col-1">	
			</div>
		</div>

		<div class="row">
			<div class="col-1">
			</div>

			<div class="col-10">
				<p class="float-right ml-4"><%= link_to 'Back', posts_path %></p>


				
			</div>
		</div>

	</div>
</body>
</html>
 

