

<html>
  <head>
    <meta charset="utf-8">
    <title>WebPage</title>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <style>
    .btn-secondary{
      background-color:#F5F5F5;
      color:#000;
    }
  </style>
  <style>
  .card-header{
    background-color:#808080;
    }
  </style>
  <style>
    .card-header1{
      background-color:#D3D3D3;
    }
  </style>
  </head>
  <body>
  <div class="container bg-grey">
    <div class="row mb-4">
      <div class="col-1">
      </div>
    
      <div class="col-10">
        
      </div>
      <div class="col-1"> 
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-1">
      </div>
    
      <div class="col-10">
        <div class="card">
          <div class="card-header1">  
            <h2> <i style='font-size:32px; padding-left: 3px' class='fas'>&#xf2bd;</i> Search Results</h2>
            </div>
            <div class="card-body">
            <% @results.each do |result| %>
                
                <div class="card float-left " style="width: 100%" >
                  
                <div class="card-body float-left" style="height:auto; min-height: 100px;">
                  <i style='font-size:40px;' class='fas' ></i>

                  <% if result.name == nil%>
                  <h4 class="card-title">No name</h4>
                  <% elsif result.lastname == nil%>
                  <i style='font-size:20px'</i> <a <%= link_to result.name, user_path(result) %></a>
                  <%else%>
                  <h4 <%=result.lastname.insert(0,' ')%></h4>
                  
                   <i style='font-size:20px'</i> <a <%= link_to result.name + result.lastname, user_path(result) %></a>
                  <%end%>

                </div>

              </div>
            <%end%>
            <% @locations.each do |location| %>
                
                <div class="card float-left " style="width: 100%" >
                  
                <div class="card-body float-left" style="height:auto; min-height: 100px;">
                  <i style='font-size:40px;' class='fas' ></i>

                  <% if location.name == nil%>
                  <h4 class="card-title">No name</h4>
                  <%else%>
                  <h4 <%=location.lastname.insert(0,' ')%></h4>
                   <i style='font-size:20px'</i> <a <%= link_to location.name + location.lastname, user_path(location) %></a>
                  <%end%>

                </div>

              </div>
            <%end%>
             <% @posttitles.each do |posttitle| %>
                
                <div class="card float-left " style="width: 100%" >
                  
                <div class="card-body float-left" style="height:auto; min-height: 100px;">
                  <i style='font-size:40px;' class='fas' ></i>

                    <% if posttitle.title ==nil %>
                      <h4 class="card-title">No name</h4>
                    
                    <% else %>
                      <i style='font-size:20px'</i> <a <%= link_to posttitle.title, post_path(posttitle) %></a>
                    <% end %>
                </div>

              </div>
            <%end%>
            <% @postdescriptions.each do |postdescription| %>
                
                <div class="card float-left " style="width: 100%" >
                  
                <div class="card-body float-left" style="height:auto; min-height: 100px;">
                  <i style='font-size:40px;' class='fas' ></i>

                    <% if postdescription.description ==nil %>
                      <h4 class="card-title">No name</h4>
                    
                    <% else %>
                      <i style='font-size:20px'</i> <a <%= link_to postdescription.title, post_path(postdescription) %></a>
                    <% end %>
                </div>

              </div>
            <%end%>
             <% @authors.each do |author| %>
                
                <div class="card float-left " style="width: 100%" >
                  
                <div class="card-body float-left" style="height:auto; min-height: 100px;">
                  <i style='font-size:40px;' class='fas' ></i>

                    <% if author == nil %>
                      <h4 class="card-title">No name</h4>
                    
                    <% else %>
                      <i style='font-size:20px'</i> <a <%= link_to author.title, post_path(author) %></a>
                    <% end %>
                </div>

              </div>
            <%end%>


            


          
        </div>
      </div>
      <div class="col-1"> 
      </div>
    </div>

    <div class="row">
      <div class="col-1">
      </div>

    </div>

  </div>
</body>
</html>